<section class="container">
  <div class="header">
    <div class="left-side">
      <img src="../../assets/Logo.svg" alt="" />
    </div>
    <div class="right-side">
      <h1 class="font-outfit-normal title">
        My Task Board <img src="../../assets/Edit_duotone.svg" alt="" />
      </h1>
      <h6 class="font-outfit-light description">Tasks to keep organised</h6>
    </div>
  </div>
  <div class="list">
    <app-task-item></app-task-item>
    <button class="font-outfit-semibold add-task">
      <p><img src="../../assets/Add_round_duotone.svg" alt="" /></p>
      Add new task
    </button>
  </div>
</section>
