<section class="container">
  <div class="log-out">
    <img (click)="logout()" src="../../assets/icons/log_out.svg" alt="" />
  </div>
  <div class="header">
    <div class="left-side">
      <img src="../../assets/icons/Logo.svg" alt="" />
    </div>
    <div class="right-side">
      <h1 class="font-outfit-normal title">
        My Task Board <img src="../../assets/icons/Edit_duotone.svg" alt="" />
      </h1>
      <h6 class="font-outfit-light description">Tasks to keep organised</h6>
    </div>
  </div>
  <div class="list">
    @if(!refresh){ @for(item of tasksData; track $index){
    <app-task-item
      [task]="item"
      [id]="selectedId"
      (openSidebarEmmitter)="openSideBar()"
    ></app-task-item>
    } }
  </div>
  <div class="add-btn-wrapper">
    <button class="font-outfit-semibold add-task" (click)="openSideBar()">
      <p><img src="../../assets/icons/Add_round_duotone.svg" alt="" /></p>
      Add new task
    </button>
  </div>
</section>

@if(sidebarOpened){
<app-task-side-bar
  [id]="selectedId"
  (closeEmitter)="handleClose($event)"
></app-task-side-bar>
}
