.item {
  background-color: #f5e8d5;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  gap: 15px;

  .title {
    font-size: 20px;
  }

  &.todo {
    background-color: #e3e8ef;
    > p {
      background-color: #97a3b6;
    }
  }
  &.in-progress {
    background-color: #f5d565;
    > p {
      background-color: #e9a23b;
    }
  }
  &.completed {
    background-color: #a0ecb1;
    > p {
      background-color: #32d657;
    }
  }
  &.canceled {
    background-color: #f7d4d3;
    > p {
      background-color: #dd524c;
    }
  }
}
