@import "../../../../assets/styles/mixins";

.item-wrapper {
  &.active {
    border: 2px solid #4e80ee;
    border-radius: 15px;
    padding: 3px;
  }

  .item {
    background-color: #f5e8d5;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    gap: 15px;
    cursor: pointer;
    transition: 200ms;

    &:hover {
      opacity: 0.8;
    }

    .title {
      font-size: 20px;
    }

    > p {
      @include iconWrapper();
    }

    &.in-progress {
      @include statusColors("in-progress");
    }
    &.completed {
      @include statusColors("completed");
    }
    &.wont-do {
      @include statusColors("wont-do");
    }
  }
}
