@mixin statusColors($status) {
  @if ($status == "in-progress") {
    background-color: #f5d565;
    > p {
      background-color: #e9a23b;
    }
  }
  @if ($status == "completed") {
    background-color: #a0ecb1;
    > p {
      background-color: #32d657;
    }
  }
  @if ($status == "wont-do") {
    background-color: #f7d4d3;
    > p {
      background-color: #dd524c;
    }
  }
}

@mixin statusColorsSelect($status) {
  @if ($status == "in-progress") {
    > p {
      background-color: #e9a23b;
    }
  }
  @if ($status == "completed") {
    > p {
      background-color: #32d657;
    }
  }
  @if ($status == "wont-do") {
    > p {
      background-color: #dd524c;
    }
  }
}

@mixin formWrapper() {
  .form {
    display: flex;
    flex-direction: column;

    .form-item {
      margin: 5px 0;
    }

    .form-btn {
      margin-top: 10px;
      > button {
        width: 100%;
        border-radius: 7px;
        border: none;
        background: #e9a23b;
        padding: 5px 10px;
        color: #fff;
      }
    }
  }
}

@mixin iconWrapper() {
  background-color: #e9a23b;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: 12px;
}

@mixin inputEl() {
  border-radius: 8px;
  border: 2px solid #e7ebf1;
  outline: none;
  padding: 7px;
  transition: 0.4s;
  width: 100%;
  font-size: 14px;

  &:hover {
    border-color: #a4bdf1;
  }
  &:focus {
    border-color: #4e80ee;
  }

  &::placeholder {
    color: #98a4b7;
  }
}
